<li>
    <h2><%= restaurant.name%></h2>
    <div class="special-paragraph">
    <p><%=restaurant.cuisine%></p>
    <p><%=restaurant.address%></Address></p>
    </div>
    <p><%=restaurant.descriptions%></p>
    <p><a id="linkbutton" href="/restaurants/<%= restaurant.id %>">view Restaurant</a></p>
</li>